#g-page-surround {
   
    
}

#g-main {
	padding: $section-padding 0;
	background: $main-background;
	color: $main-text-color;
}

@media print {
	#g-main {
		background: #fff !important;
		color: #000 !important;
	}
}

#g-mainbar {
    background: $main-background;
    color: $main-text-color;
    }
	
	#g-copyright  {

  border-top:1px solid #373737;
}

